#friends-display-link {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    background-color: #fafafa;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i {
    opacity: 0.2;
}

#friends-display-link span {
    margin: 0 10px;
}

.main-screen {
    padding: 0 var(--horizontal-space);
}

.friends-screen__couple-header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    padding-top: 20px;
    border-top: var(--main-border);
}



.friends-screen__couple-column .fa-heart {
    color:pink;
}

.friends-screen__couple-column span {
    opacity: 0.8;
}
.friends-screen__couple-column .fa-angle-up {
    color: rgba(0,0,0,0.3);
}